<script type="application/ld+json">
{
    "@context" : "http://schema.org",
    "@type" : "BlogPosting",
    "mainEntityOfPage": {
         "@type": "WebPage",
         "@id": "{{ .Site.BaseURL }}"
    },
    "articleSection" : "{{ .Section }}",
    "name" : "{{ .Title }}",
    "headline" : "{{ .Title }}",
    "description" : "{{ if .Site.Params.description }}{{ .Site.Params.description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}",
    "inLanguage" : "de-DE",
    "author" : "{{ with .Site.Params.author }}{{ . }}{{ end }}",
    "creator" : "{{ with .Site.Params.author }}{{ . }}{{ end }}",
    "publisher": "{{ with .Site.Params.author }}{{ . }}{{ end }}",
    "accountablePerson" : "{{ with .Site.Params.author }}{{ . }}{{ end }}",
    "copyrightHolder" : "{{ with .Site.Params.author }}{{ . }}{{ end }}",
    "copyrightYear" : "{{ .Date.Format "2006" }}",
    "datePublished": "{{ .Date.Format "2006-01-02 15:04:05" }}",
    "dateModified" : "{{ .Date.Format "2006-01-02 15:04:05" }}",
    "url" : "{{ .Permalink }}",
    "wordCount" : "{{ .WordCount }}",
    "keywords" : [
        {{ if isset .Params "tags" }}{{ range .Params.tags }}"{{ . }}",{{ end }}{{ end }}
        {{ if .Site.Params.metaKeywords }}{{ range .Site.Params.metaKeywords }}"{{ . }}",{{ end }}{{ end }}"Blog"
    ]
}
</script>